.main-body {
  display: flex;
  flex-direction: column;
}

.genre-header {
  padding: 8px 4px 8px 16px;
  margin: 80px auto 0;
  width: 40%;
  font-family: "Commissioner", sans-serif;
  background-color: #ffcece;
  border-radius: 4px;
}

.genre-name {
  font-size: 60;
  font-weight: 800;
}

.film-card-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

mat-card {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  position: relative;
  max-width: 320px;
  padding: 20px;
  margin: 20px;
  border: 2px;
  border-color: #333;
}

mat-card-header {
  width: 200px;
  align-items: flex-start;
}

mat-card-title {
  font-family: "Commissioner", sans-serif;
}

mat-card-subtitle {
  font-family: "Commissioner", sans-serif;
}

img {
  width: 280px;
  margin: 0 auto;
}

.details-button {
  background-color: #fff;
  color: #000;
  font-family: "Commissioner", sans-serif;
}

.mat-icon-button {
  color: red;
  position: absolute;
  top: 24px;
  right: 24px;
}
