<div class="main-body">
  <app-navbar></app-navbar>
    <div class="genre-header">
      <h2 class="genre-name">{{genre[0].Genre.Name}}</h2>
      <p>{{genre[0].Genre.Description}}</p>
    </div>
    <p class="example-text">Films in this genre:</p>
    <div class="film-card-wrapper" style="display: flex;">
      <mat-card *ngFor="let film of genre; let i=index;">
        <button mat-button class="details-button" (click)="openFilmDetails(film.Title)">
          <h2 id="title">{{film.Title}}</h2>
          <img src={{film.ImagePath}} alt= {{film.Title}} />
        </button>
      </mat-card>
    </div>
  </div>
