<div class="main-body">
  <app-navbar></app-navbar>
    <div class="genre-header">
      <h3 class="genre-name">{{genre[0].Genre.Name}}</h3>
      <p>{{genre[0].Genre.Description}}</p>
      <p>Films in this genre:</p>
    </div>
    <div class="film-card-wrapper" style="display: flex;">
      <mat-card *ngFor="let film of genre; let i=index;">
        <button mat-button class="details-button" (click)="openFilmDetails(film.Title)">
          <mat-card-header>
            <mat-card-title>{{film.Title}}</mat-card-title>
          </mat-card-header>
          <img src={{film.ImagePath}} alt= {{film.Title}} />
      </button>
        <mat-card-actions>
          <button mat-icon-button (click)="makeFave(film)">
            <mat-icon *ngIf="faveFilm(film._id)">favorite</mat-icon>
            <mat-icon *ngIf="!faveFilm(film._id)">favorite_border</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
