.main-body {
  display: flex;
  flex-direction: column;
}

.director-header {
  display: flex;
  flex-direction: row;
  padding: 12px;
  margin: 100px auto 0;
  width: 40%;
  font-family: "Commissioner", sans-serif;
  border-style: solid;
  border-color: #ffcece;
  border-radius: 8px;
}

.director-box {
  width: 20%;
  height: 100%;
  margin-right: 8px;
}

.director-image {
  max-height: 100%;
  max-width: 100%;
  border-radius: 8px;
}

.director-text {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.director-name {
  font-size: 60;
  font-weight: 800;
}

.example-text {
  margin: 20px auto 8px;
  font-family: "Commissioner", sans-serif;
}

.film-card-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0 auto;
}

mat-card {
  display: flex;
  flex-flow: column wrap;
  position: relative;
  align-items: center;
  max-width: 320px;
  padding: 20px;
  margin: 20px;
  border-color: #333;
}

#title-box {
  white-space: normal;
  max-width: 240px;
}

#title {
  padding: 0 auto;
  font-family: "Commissioner", sans-serif;
}

img {
  width: 240px;
  margin: 0 auto;
}

.details-button {
  background-color: #fff;
  color: #000;
  font-family: "Commissioner", sans-serif;
}

.mat-icon-button {
  color: red;
  position: absolute;
  top: 24px;
  right: 24px;
}

@media all and (min-width: 1300px) and (max-width: 1599px) {
  .director-header {
    width: 50%;
  }
}

@media all and (min-width: 1000px) and (max-width: 1299px) {
  .director-header {
    width: 60%;
  }
}

@media all and (min-width: 689px) and (max-width: 999px) {
  .director-header {
    width: 70%;
  }
}

@media all and (max-width: 688px) {
  .director-header {
    margin: 130px auto 0;
    width: 80%;
  }
}
