.navbar {
  display: flex;
  flex-direction: row;
  position: absolute;
  margin: 8px;
}

.home-button {
  flex-direction: row;
  flex-wrap: nowrap;
}

h2 {
  font-family: "Commissioner", sans-serif;
  font-size: 48;
  font-weight: 800;
  padding: 12px 12px 12px 0;
  margin-bottom: 0;
}

.mat-expansion-panel {
  z-index: 1;
  margin-top: 8px;
  margin-right: 8px;
}

.mat-expansion-panel-header {
  width: 144px;
}

.profile-button {
  margin-top: 12px;
}
