.navbar {
  display: flex;
  flex-direction: row;
  position: absolute;
  justify-content: space-evenly;
  z-index: 1;
  margin: 8px;
}

.home-button {
  flex-direction: row;
  flex-wrap: nowrap;
}

.mooovies-button {
  padding-left: 0;
}

.mooovies {
  font-family: "Commissioner", sans-serif;
  font-size: 60;
  font-weight: 900;
  padding: 22px 12px 0 0;
  margin-bottom: 0;
}

.genres {
  margin-top: 16px;
  margin-right: 8px;
  width: 160px;
}

.directors {
  margin-top: 16px;
  margin-right: 8px;
  width: 188px;
}

.profile-button {
  margin-top: 20px;
}

.profile-icon {
  font-size: 28px;
  padding: auto 4px;
}

@media all and (max-width: 688px) {
  .mooovies {
    padding: 8px 4px 12px 4px;
  }
  .profile-button {
    padding: auto 8px auto 0;
  }
}
