.navbar {
  display: flex;
  flex-direction: row;
  position: absolute;
  margin: 8px;
}

.home-button {
  flex-direction: row;
  flex-wrap: nowrap;
}

h3 {
  font-family: "Commissioner", sans-serif;
  font-size: 40;
  font-weight: 800;
  padding: 12px;
  margin-bottom: 0;
}
