<div class="main-body">
  <app-navbar></app-navbar>
  <mat-spinner class="spinner" color="accent" *ngIf="isLoading"></mat-spinner>
  <div class="film-card-wrapper">
    <mat-card *ngFor="let film of films; let i=index;">
      <button mat-button class="details-button" (click)="openFilmDetails(film.Title)">
        <div id="title-box">
          <h2 id="title">{{film.Title}}</h2>
        </div>
        <img src={{film.ImagePath}} alt= {{film.Title}} />
      </button>
    </mat-card>
  </div>
</div>
