.main-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.film-card-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 100px auto;
}

mat-card {
  display: flex;
  flex-flow: column wrap;
  position: relative;
  align-items: center;
  max-width: 320px;
  padding: 20px;
  margin: 20px;
  border-color: #333;
}

#title {
  display: flex;
  max-width: 240px;
  font-family: "Commissioner", sans-serif;
  overflow-wrap: normal;
}

img {
  width: 240px;
  margin: 0 auto;
}

.details-button {
  background-color: #fff;
  color: #000;
  font-family: "Commissioner", sans-serif;
}

.mat-icon-button {
  color: red;
}

@media all and (max-width: 849px) {
  .main-body {
    flex-basis: 340px;
    flex: none;
  }
}
