.main-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

app-navbar {
  display: flex;
}

.spinner {
  z-index: 2;
  position: absolute;
  top: 200px;
  left: 50%;
}

.film-card-wrapper {
  display: flex;
  flex-flow: row wrap;
  flex: 0 1 auto;
  justify-content: center;
  margin: 100px auto;
}

mat-card {
  display: flex;
  flex-flow: column wrap;
  position: relative;
  justify-content: center;
  align-items: center;
  max-width: 320px;
  padding: 20px;
  margin: 20px;
  border-color: #333;
}

#title-box {
  white-space: normal;
  max-width: 240px;
}

#title {
  padding: 0 auto;
  font-family: "Commissioner", sans-serif;
}

img {
  width: 240px;
  margin: 0 auto;
}

.details-button {
  background-color: #fff;
  color: #000;
  font-family: "Commissioner", sans-serif;
}

.mat-icon-button {
  color: red;
}

@media all and (max-width: 688px) {
  .main-body {
    flex-basis: 340px;
    flex: none;
  }
  .film-card-wrapper {
    margin: 120px auto;
  }
  mat-card {
    margin: 12px;
    padding: 12px 12px 20px;
  }
}
