.main-body {
  display: flex;
  flex-direction: column;
}

.film-card-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin-top: 80px;
}

mat-card {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  position: relative;
  max-width: 320px;
  padding: 20px;
  margin: 20px;
  border: 2px;
  border-color: #333;
}

mat-card-header {
  width: 200px;
  margin-left: 0;
  align-items: flex-start;
  flex-wrap: wrap;
}

.title {
  font-family: "Commissioner", sans-serif;
  width: 200px;
  align-items: flex-start;
  flex-wrap: wrap;
}

img {
  width: 280px;
  margin: 0 auto;
}

.details-button {
  background-color: #fff;
  color: #000;
  font-family: "Commissioner", sans-serif;
}

.mat-icon-button {
  color: red;
}
