.main-body {
  display: flex;
  flex-direction: column;
}

.favorites-header {
  margin: 100px auto 0;
  justify-content: center;
  font-family: "Commissioner", sans-serif;
  font-weight: 700;
}

.film-card-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

mat-card {
  display: flex;
  flex-flow: column wrap;
  position: relative;
  align-items: center;
  max-width: 320px;
  padding: 20px;
  margin: 20px;
  border-color: #333;
}

#title-box {
  white-space: normal;
  max-width: 240px;
}

#title {
  padding: 0 auto;
  font-family: "Commissioner", sans-serif;
}

img {
  width: 240px;
  margin: 0 auto;
}

.details-button {
  background-color: #fff;
  color: #000;
  font-family: "Commissioner", sans-serif;
}

.mat-icon-button {
  color: red;
  position: absolute;
  top: 24px;
  right: 24px;
}

@media all and (max-width: 688px) {
  .favorites-header {
    margin: 130px auto 0;
    padding: 0;
  }
  .user-name {
    margin: 0 auto;
  }
}
