<div class="main-body">
  <app-navbar></app-navbar>
  <div class="favorites-header">
    <h1>{{ user.Username }}'s favorites</h1>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="openEdit()">Edit</button>
    </mat-card-actions>
  </div>
  <div class="film-card-wrapper" style="display: flex;">
    <mat-card *ngFor="let film of favorites; let i=index;">
      <button mat-button class="details-button" (click)="openFilmDetails(film.Title)">
        <mat-card-header>
          <mat-card-title class="title">{{film.Title}}</mat-card-title>
        </mat-card-header>
        <img src={{film.ImagePath}} alt= {{film.Title}} />
      </button>
    </mat-card>
  </div>
</div>
  
